.events{
    display: grid;
    grid-template-columns: 160px 160px;
    gap: 100px;
    justify-content: center;
    font-size: 25px;
}
.save{
    padding:20px;   
    text-align: center;

}
body{
    background: violet;
    padding-top: 250px;

}
.id {
    text-align: center;
    padding-bottom: 40px;
    padding-right: 60px;
}
input.studentid{
text-align: center;
}