body{
    padding-top: 300px;
   text-align: center;
   background:cyan;
}
button{
    height: 100px;
    width: 50%;
    font-size: xx-large;
    font-weight: bold;
    background-color: blue;
}